.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center; }
  .app .app__row {
    flex: 1;
    display: flex;
    flex-direction: row; }
    .app .app__row .app__column {
      flex: 1; }
    .app .app__row #app__column__middle {
      flex: 2;
      border-style: solid;
      border-color: #aaa; }
  .app #app__row__middle {
    flex: 2; }
.Hand{
  width:100%;
  height:200px;
}
.Card{
    background-image: url('../../card_suit_sprite.gif');
    background-repeat: no-repeat;   
    height: 300px;
    width: 300px;
    border: none;
    zoom:0.3;
    float:left;

}
p{
  z-index:2;
  font-size: 500;
  /* height:50%; */
  /* zoom:1.3; */
}

.C{
  background-position: -75px -75px;
  /* zoom:0.3; */

}
.S{

  background-position: -525px -75px;
  /* zoom:0.3; */

}   
.D{
  background-position: -75px -525px;
  /* zoom:0.3; */

}
.H{
  background-position: -525px -525px;
  /* zoom:0.3; */

}  
