.app{
    display:flex;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    .app__row{
        flex:1;
        display:flex;
        flex-direction: row;
        .app__column{
            flex:1;
        }
        #app__column__middle{
            flex:2;
            border-style: solid;
            border-color:#aaa;
        }
    }
    #app__row__middle{
        flex:2;
    }
    
}
.Card{
        background-image: url('../../card_suit_sprite.png');
        background-repeat: no-repeat;
        .C{
            height: 300px;
            background-position: 75 75px;

        }
        .S{
            height: 300px;
            background-position: 525 75px;

        }   
        .D{
            height: 300px;
            background-position: 75 525px;

        }
        .H{
            height: 300px;
            background-position: 525 525px;

        }     
}

